header {
    padding: 20px 0;
    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 10px 0 0;
        border: 2px solid;
        flex-wrap: nowrap;
        font-family: "Caveat";
        font-size: 25px;
        h1 {
            font-size: 25px;
            color: white;
            background-color: black;
            padding: 0 10px;
        }
        &:hover {
            background-color: black;
            border: 2px solid black;
            color: white;
            h1 {
                color: black;
                background-color: white;
            }
        }
    }
    nav {
        ul {
            list-style: none;
        }
    }
    a {
        // border: none;
        text-decoration: none;
        color: black;
    }
}
